@font-face {
    font-family: 'optima';
    src: url('../fonts/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
         url('../fonts/ABCMonumentGrotesk-Regular.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  font-size: 20px;
  --contentWidth: 90%;
  max-width: var(--contentWidth);
  font-family: optima, sans-serif;
  overflow-x: hidden;
  margin-left: 8%;
  margin-right: 8%;
}

img{
  height: 35vh;
  width: 100%;
  object-fit: scale-down;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 3%;
}

p{
  /* margin-left: 100px; */
  color: linear-gradient(red, green);
}

td{
  color: grey;
}

h1{
  color: white;
  font-size: 50px;
  text-align: center;
  background-color: black;
}

h5{
  color: black;
  font-style: light;
  font-size: 15px;
  text-align: center;
  margin:0;
  padding:0;
  background-color: white;
}

h2{
  margin-top: 15px;
  font-size: 35px;
  text-align: center;
}
figcaption{
  font-style: italic;
}
blockquote{
  font-style: italic;
  color:red;
}
.cover{
  margin-top: 50px;
  margin-left: 50%;
  text-align: center;
}

.hashtag {
  display: none;
}

/* index */

.index_img{
background-color: red;

}
.index_img >img{
height: 75vh;
object-fit: cover;
}
.h2-index{
  position: fixed;
  bottom: 10px;
  left: 30%;
  right: 30%;
}
