@font-face {
    font-family: 'monument';
    src: url('../fonts/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
         url('../fonts/ABCMonumentGrotesk-Regular.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'monument';
    src: url('../fonts/ABCMonumentGrotesk-Bold.woff2') format('woff2'),
         url('../fonts/ABCMonumentGrotesk-Bold.woff')format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'sinistre';
    src: url('../fonts/Sinistre.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'suisse';
    src: url('../fonts/SuisseIntlMono-Regular.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  /* font-size: 1em; */
  /* --contentWidth: 90%; */
  max-width: var(--contentWidth);
  font-family: monument, sans-serif;
  overflow-x: hidden;
  margin-left: 4%;
  margin-right: 4%;
  line-height: 1.33em;
  margin-top: 7%;
  background-color: rgb(246, 248, 248);
}

img{
  max-height: 90vh;
  width: 100%;
  object-fit: scale-down;
  border-radius: 20px;
  text-align: center;
  /* margin-bottom: 3%; */
}
figure{
  margin-inline-start: 2px;
margin-inline-end: 2px;
}
p{
  /* margin-left: 100px; */
  font-size: 1.14em;

}

td{
  color: grey;
}

h1{
  color: rgb(220, 0, 20);
  font-family: sinistre;
  font-size: 2.8em;
  text-align: center;
  /* background-color: black; */
  font-weight: normal;
  line-height: 1em;


}
h1 > em{
  font-style: normal;
  font-family: monument;
  font-size: 1.2em;
  line-height: 1.1em;
  color:black;
}

h5{
  color: black;
  font-style: light;
  font-size: 15px;
  text-align: center;
  margin:0;
  padding:0;
  background-color: white;
}

h2{
  /* margin-top: 40px;  */
  text-transform: uppercase;
  font-size: 1.45em;
  /* text-align: center; */
  font-family: sinistre;
  font-weight: normal;
  line-height: 1.1em;
  color:rgb(220, 0, 20);
}
h3{
  text-transform: uppercase;
  font-weight: normal;
}
h6{
  color:rgb(220, 0, 20);
  font-family: sinistre;
  font-size: 1em;
  line-height: 1.4em;
}
figcaption{
  /* font-style: italic; */
  /* font-family: suisse; */
  font-size: 0.85em;
  line-height: 1.1em;
  margin-block-start: 10px;
    /* margin-block-end: 5px; */
    word-break: break-word;
}
figcaption > em{
  font-style: normal;
  font-weight: bold;
}
blockquote{
  /* font-style: italic; */
  /* color:rgb(220, 0, 20); */
  margin-inline-start: 25px;
  margin-inline-end: 25px;
  background-color: rgb(240, 242, 245);
  padding: 10px;
  border-radius: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.big_quote{
font-size: 1.6em;
word-break: none;
line-height: 1.2em;
margin-inline-start: 5px;
margin-inline-end: 5px;
margin-block-start: 0px;
padding-top: 10px;
padding-bottom: 10px;
}

.cover{
  margin-top: 50px;
  margin-left: 50%;
  text-align: center;
}

.hashtag {
  display: none;
}


/* index */

.index_img{
/* background-color: red; */

}
.index_img >img{
height: 75vh;
object-fit: cover;
}
.h2-index{
  position: fixed;
  bottom: 12px;
  left: 25%;
  right: 25%;
}
.arrows{
  font-family: monument;
  text-align: center;
  color:rgb(246, 248, 248);
  color: transparent;
  text-shadow: 0 0 0 rgb(246, 248, 248);
  font-size: 1.3em;
  margin-bottom: 20px;
  background-color: rgb(46, 48, 48);
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  font-size: 1.75em;
  width:110vw;
  padding: 4px;
}
.arrows > a{
  color:rgb(246, 248, 248);
  text-decoration: none;
}
.arrows > a:active{
  color:black;
}

.arrow_flex{
  display: flex;
  justify-content: center;
}
sup{
  font-family: suisse;
  font-size: 0.6em;
  /* vertical-align:middle; */
  line-height: 1.1em;
}

sup > a{
  color: black;
  text-decoration: none;
}
