@font-face {
    font-family: 'monument';
    src: url('../fonts/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
         url('../fonts/ABCMonumentGrotesk-Regular.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'monument';
    src: url('../fonts/ABCMonumentGrotesk-Bold.woff2') format('woff2'),
         url('../fonts/ABCMonumentGrotesk-Bold.woff')format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'sinistre';
    src: url('../fonts/Sinistre.woff')format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  /* font-size: 1em; */
  --contentWidth: 90%;
  max-width: var(--contentWidth);
  font-family: monument, sans-serif;
  overflow-x: hidden;
  margin-left: 8%;
  margin-right: 8%;
  line-height: 1.3em;
  margin-top: 7%;
  background-color: rgb(251, 253, 253);
}

img{
  max-height: 75vh;
  width: 100%;
  object-fit: scale-down;
  border-radius: 25px;
  text-align: center;
  /* margin-bottom: 3%; */
}
figure{
  margin-inline-start: 20px;
margin-inline-end: 20px;
}
p{
  /* margin-left: 100px; */
  font-size: 1.13em;

}

td{
  color: grey;
}

h1{
  color: red;
  font-family: sinistre;
  font-size: 1.8em;
  /* text-align: center; */
  /* background-color: black; */
  font-weight: bold;
  /* line-height: 1em; */

}
h1 > em{
  font-style: normal;
  font-family: monument;
  font-size: 1.2em;
  line-height: 1.1em;
  color:black;
}

h5{
  color: black;
  font-style: light;
  font-size: 15px;
  text-align: center;
  margin:0;
  padding:0;
  background-color: white;
}

h2{
  /* margin-top: 40px;  */
  text-transform: uppercase;
  font-size: 1.3em;
  /* text-align: center; */
  font-family: sinistre;
  font-weight: normal;
  line-height: 1.1em;
  color:red;
}
h3{
  text-transform: uppercase;
  font-weight: normal;
}
h6{
  color:red;
  font-family: sinistre;
  font-size: 1em;
  line-height: 1.4em;
}
figcaption{
  /* font-style: italic; */
  font-size: 0.85em;
  line-height: 1.1em;
  margin-block-start: 10px;
    /* margin-block-end: 5px; */
    word-break: break-word;
}
figcaption > em{
  font-style: normal;
  font-weight: bold;
}
blockquote{
  /* font-style: italic; */
  color:red;
  margin-inline-start: 20px;
margin-inline-end: 20px;
}
.cover{
  margin-top: 50px;
  margin-left: 50%;
  text-align: center;
}

.hashtag {
  display: none;
}


/* index */

.index_img{
/* background-color: red; */

}
.index_img >img{
height: 75vh;
object-fit: cover;
}
.h2-index{
  position: fixed;
  bottom: 12px;
  left: 25%;
  right: 25%;
}
.arrows{
  font-family: sinistre;
  text-align: center;
  color:red;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.arrows > a{
  color:red;
  text-decoration: none;
}
.arrows > a:active{
  color:black;
}
